<section class="about-content ptb-100">
				<div class="container">
					<div class="row">	
						<div class="col-md-6 col-sm-12 col-xs-12">
							<div class="about_img res-mb-sm-30">	
								<img src="../assets/img/other/about.jpg" class="img-responsive" alt="">  
							</div>
						</div>					
						<div class="col-md-6 col-sm-12 col-xs-12">
							<div class="about-us-content">
								<h2>About our SHOPZON</h2>
								<p>We are committed to creating a platform where all women can reach their ideal level of beauty. 
									Whether she changes her look depending on her mood or is all about keeping it natural, she’s 
									sure to find the best beauty tips, tricks and products that work just for her. Our goal is to
									 create a personalized, educational, and, most of all, fun experience for all women who are 
									 looking to get their daily dose of beauty. </p>
								<p>We do so by caring deeply about the content we produce, obsessing over new products and by 
									possessing insider access to industry experts and a behind-the-scenes look at some of our 
									favorite beauty brands. Makeup.com is a proud member of the Shopzon family, and our articles 
									feature beauty products from the shopzon portfolio.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
<service-area></service-area>