
#productModal .modal-dialog {
  margin: 5% auto;
  max-width: 96%;
  min-height: 300px;
  padding: 20px;
  transition: all 0.5s ease 0s;
  width: 870px;
}
.modal-product {
  overflow: hidden;
}
.modal-product .product-images {
  float: left;
  width: 40%;
}
.modal-product .product-images .main-image {
  float: left;
  margin-bottom: 0;
  width: 100%;
}
.modal-product .product-images .main-image img {
  box-shadow: none;
}
.modal-product .product-info {
  float: left;
  margin-bottom: 0;
  padding-left: 30px;
  width: 60%;
}
.modal-product .product-info h1 {
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 15px;
}
.modal-product .product-info .price-box {
  margin: 0 0 10px;
  width: 100%;
}
.modal-product .product-info .price-box p {
  margin: 0;
}
.modal-product .product-info .price-box .special-price {
  color: #8bc34a;
  font-size: 24px;
  font-weight: 600;
}
.modal-product .product-info .see-all {
  color: #42414f;
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: underline;
}
.modal-product .product-info .see-all:hover {
  color: #8bc34a;
}
a.see-all {
  color: #232323;
  display: inline-block;
  margin-bottom: 10px;
}
.modal-product .product-info .quick-add-to-cart {
  border-bottom: 1px solid #e5e5e5;
  float: left;
  margin: 0 0 20px;
  padding: 0 0 38px;
  width: 100%;
}
.numbers-row > input {
  border: 1px solid #dddddd;
  float: left;
  height: 40px;
  text-align: center;
  width: 60px;
}
.quick-add-to-cart .single-add-to-cart-button {
  background: #282828 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  float: left;
  font-weight: 700;
  height: 40px;
  margin-left: 15px;
  padding: 0 45px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.quick-add-to-cart .single-add-to-cart-button:hover {
  background: #8bc34a none repeat scroll 0 0;
}
.modal-product .product-info .quick-desc {
  border-bottom: 1px solid #e5e5e5;
  color: #656565;
  float: left;
  font-family: open sans;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 24px;
  padding: 0 0 15px;
  width: 100%;
}
.modal-product .widget {
  float: left;
  width: 100%;
}
h3.widget-title-modal {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #42414f;
  float: left;
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 5px;
  text-align: left;
  text-transform: none;
  width: 100%;
}
.modal-product .widget .social-icons {
  float: left;
  margin: 0;
  padding: 0;
}
.modal-product .widget .social-icons li {
  float: left;
  line-height: 30px;
  list-style: outside none none;
  margin-right: 10px;
}
.modal-product .widget .social-icons li .social-icon {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #909295;
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  width: 40px;
}
#productModal button.close {
  opacity: 1;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.3s ease 0s;
  z-index: 2;
}
#productModal button.close span {
  border: 1px solid #909295;
  border-radius: 60px;
  color: #909295;
  display: block;
  height: 30px;
  line-height: 24px;
  padding-top: 1px;
  text-align: center;
  width: 30px;
}
#productModal button.close span:hover {
  color:#8bc34a ;
  border: 1px solid #8bc34a;
}
#productModal .modal-header {
  border: 0 none;
  min-height: auto;
  padding: 0;
}
.modal-product .widget .social-icons li .social-icon.facebook:hover {
  background: #3b579d none repeat scroll 0 0;
  border: 1px solid #3b579d;
}
.modal-product .widget .social-icons li .social-icon.twitter:hover {
  background: #3acaff none repeat scroll 0 0;
  border: 1px solid #3acaff;
}
.modal-product .widget .social-icons li .social-icon.pinterest:hover {
  background: #cb2027 none repeat scroll 0 0;
  border: 1px solid #cb2027;
}
.modal-product .widget .social-icons li .social-icon.gplus:hover {
  background: #d11717 none repeat scroll 0 0;
  border: 1px solid #d11717;
}
.modal-product .widget .social-icons li .social-icon.linkedin:hover {
  background: #0097bd none repeat scroll 0 0;
  border: 1px solid #0097bd;
}
.modal-product .widget .social-icons li .social-icon:hover {
  color: #ffffff;
}
.modal {
    background-color: rgba(0,0,0,0.75);
    display: block;
}
.modal-content {
   border-radius: 8px;
}

@media (max-width: 767px){
  .modal{
        overflow-x: hidden;
    overflow-y: auto;
  }
}